<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <extensions>
        <add assembly="NLog.Targets.Seq" />
    </extensions>
    
    <targets>
        <target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
            <target xsi:type="Seq" serverUrl="http://192.168.0.37:5341" apiKey="">
                <property name="ThreadId" value="${threadid}" as="number" />
                <property name="MachineName" value="${machinename}" />
                <property name="Logger" value="${logger}" />
                <property name="Level" value="${level}" />
                <property name="Message" value="${message}" />
                <property name="Exception" value="${exception:format=tostring}" />
            </target>
        </target>
        <target name="console" xsi:type="ColoredConsole" layout="${date:format=dd.MM.yyyy HH\\:mm\\:ss,fff} | ${padding:padding=5,fixedlength=true:${level:uppercase=true}} | ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="seq" />
        <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
</nlog>